#
# Copyright (c) 2022 ZettaScale Technology
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0, or the Apache License, Version 2.0
# which is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0
#
# Contributors:
#   Pierre Avital, <pierre.avital@me.com>
#
name: CI

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]
  schedule:
    - cron: "0 6 * * 1-5"

jobs:
  check:
    name: Run checks on ${{ matrix.os }}
    runs-on: "${{ matrix.os }}"
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        features:
          [
            "",
            "experimental-ctypes",
            "std",
            "libloading",
            "experimental-ctypes,std",
          ]

    steps:
      - uses: actions/checkout@v2

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          components: rustfmt, clippy

      - name: Code format check
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: -- --check

      - name: Clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: -p stabby  --features=${{ matrix.features }} -- -D warnings
      - name: Clean artifacts
        uses: actions-rs/cargo@v1
        with:
          command: clean

  check-nightly:
    name: Run checks on ${{ matrix.os }} with Nightly
    runs-on: "${{ matrix.os }}"
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v2

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          components: clippy

      - name: Clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all-targets -- -D warnings
      - name: Clean artifacts
        uses: actions-rs/cargo@v1
        with:
          command: clean

  check-1-72:
    name: Run 1.72 checks on ${{ matrix.os }}
    runs-on: "${{ matrix.os }}"
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v2
      - name: Install Rust toolchain 1.72
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.72.0
          components: clippy

      - name: Clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all-targets -- -D warnings
      - name: Clean artifacts
        uses: actions-rs/cargo@v1
        with:
          command: clean

  check-wasm:
    name: Run wasm checks on ${{ matrix.os }}
    runs-on: "${{ matrix.os }}"
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v2
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          target: wasm32-unknown-unknown
      - name: Check
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all-targets -- -D warnings
      - name: Clean artifacts
        uses: actions-rs/cargo@v1
        with:
          command: clean

  check-32bits:
    name: Run 32bits checks on ${{ matrix.os }}
    runs-on: "${{ matrix.os }}"
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v2
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          target: i686-unknown-linux-gnu
      - name: Check
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all-targets -- -D warnings
      - name: Clean artifacts
        uses: actions-rs/cargo@v1
        with:
          command: clean

  test:
    name: Run tests on ${{ matrix.os }}
    runs-on: "${{ matrix.os }}"
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - uses: actions/checkout@v2

      - name: Install latest Rust toolchain
        uses: actions-rs/toolchain@v1

      - name: Set rustflags
        shell: bash
        run: |
          case ${{ matrix.os }} in
            *windows*) echo "RUSTFLAGS=-Clink-arg=/DEBUG:NONE" >> $GITHUB_ENV ;;
          esac

      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --verbose --all-targets

      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: test

      - name: Test load-time linkage
        uses: actions-rs/cargo@v1
        with:
          command: run
          args: --bin dynlinkage

      - name: Test run-time linkage
        uses: actions-rs/cargo@v1
        with:
          command: run
          args: --bin libloader

      - name: Clean artifacts
        uses: actions-rs/cargo@v1
        with:
          command: clean
